.dashboard-page-container{

    .hero{
        width: 100%;
        display: flex;
        background-color: transparent;
        gap: 0;
        margin: 0 auto;
        .left-side{
            display: block;
            width: 50%;
            text-align: center;
            margin: auto;
            h1{
                font-size: 50px;
            }
        }
        .right-side{
            display: block;
            width: 50%;
            text-align: center;
            margin: auto;
            
            
            .player-welcome{
                margin-bottom: 40px;
            } 
        }
    }
    
    .recent-matches-container {
        width: 80%;
        margin: 75px auto;
        display: flex;
        flex-direction: column;
        background-color: #f4f4f4;
        border-radius: 8px;
        overflow: hidden; /* Ensures rounded corners don't affect the scrollable area */
      }
    
      .data-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: #f4f4f4;
        font-weight: bold;
        border-radius: 8px 8px 0 0; /* Rounded top corners */
        z-index: 1;
      }
      
    .recent-matches-section {
        display: flex;
        flex-direction: column;
        background-color: #dddddd;
        padding: 10px;
        height: 300px; /* Fixed height for scrollable area */
        overflow-y: auto; /* Enable vertical scrolling */
        scrollbar-width: thin; /* Thin scrollbar for Firefox */
        scrollbar-color: #888 #ddd; /* Custom scrollbar colors */
      }
      
    .recent-matches-section::-webkit-scrollbar {
        width: 10px; /* Width of the scrollbar */
      }
      
    .recent-matches-section::-webkit-scrollbar-thumb {
        background: #888; /* Scrollbar thumb color */
        border-radius: 5px; /* Rounded scrollbar thumb */
      }
      
    .recent-matches-section::-webkit-scrollbar-thumb:hover {
        background: #555; /* Darker scrollbar thumb when hovered */
      }
      

    .match {
        background-color: #c5c5c5;
    }

    .match-opponent, .match-rating, .match-result, .match-rating-change, .match-date {
        width: 20%;
        text-align: center;
    }

    .match-result {
        border-radius: 10px;
        padding: 5px 0px;
        width: 60px;
    }

    .match-result.win {
        background-color: rgb(26, 161, 26);
    }

    .match-result.loss {
        background-color: rgb(183, 3, 3);
    }

    .match-rating-change.positive {
        color: rgb(26, 161, 26);
    }

    .match-rating-change.negative {
        color: rgb(183, 3, 3);
    }

    .match:nth-child(even) {
        background-color: #a3a3a3;
    }
};