/* Updated Dashboard.css */
.dashboard-page-container {
  width: 100%;
  box-sizing: border-box;
  
}

.hero {
  width: 100%;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
  gap: 20px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px;
}

.left-side, .right-side {
  flex: 1 1 50%;
  max-width: 50%;
  text-align: center;
  margin: auto;
  box-sizing: border-box;
}

.left-side h1 {
  font-size: 50px;
}

.right-side .player-welcome {
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: bold;
}

.right-side .player-rating {
  font-size: 18px;
  font-weight: 600;
}

.recent-matches-container {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  .data-header {
    padding: 20px 120px;
    padding-right: 140px;
  } 
}

.recent-matches-section {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 15px;
  max-height: 300px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #ddd;
}

.recent-matches-section::-webkit-scrollbar {
  width: 10px;
}

.recent-matches-section::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.recent-matches-section::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.match-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ccc;
  background-color: #ffffff;
  transition: transform 0.2s, box-shadow 0.2s;
  margin-bottom: 10px;
}

.match-row:nth-child(even) {
  background-color: #f9f9f9;
}

.match-row:hover {
  transform: scale(1.02);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.match-row > div {
  flex: 1;
  text-align: center;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
}

.match-result {
  border-radius: 10px;
  padding: 5px 10px;
  width: auto;
}

.match-result.win {
  background-color: rgb(26, 161, 26);
  color: white;
}

.match-result.loss {
  background-color: rgb(183, 3, 3);
  color: white;
}

.match-rating-change.positive {
  color: rgb(26, 161, 26);
  font-weight: bold;
}

.match-rating-change.negative {
  color: rgb(183, 3, 3);
  font-weight: bold;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
  }

  .left-side, .right-side {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .data-header {
    flex-direction: row;
    padding: 10px;
  }

  .match-row {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .match-row > div {
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
  }
}
