/* Reused CSS from Home.css */

.players-page-container {
  .hero {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    background-color: transparent;
    width: 80%;
    margin: 0 auto;
    gap: 20px; 
  }
  
  .hero .left-side {
    flex: 0 0 auto; 
    margin-left: 0; 
  }
  
  .hero .right-side {
    flex: 1 1 auto; 
    text-align: left; 
  }
  
  .hero .title {
    font-size: 50px;
    font-weight: bold;
    margin: 0;
  }
  
  .hero .description {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
  }
}

.search-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
  margin: 20px auto; 
  padding: 10px;
  width: calc(100% - 20px); 
  max-width: 1600px; 
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 2px 5px #0000001a;
}

.search-input,
.search-dropdown {
  flex: 1 1 200px; 
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.search-button {
  flex: 1 1 100px; 
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.search-button:hover {
  background-color: darkgreen;
}

.search-button:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}


.results-section {
  display: flex;
  flex-direction: column;
  background-color: #dddddd;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  min-height: 300px;
  margin: 75px auto;
}

.data-header,
.player-row {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  list-style: none;
  margin: 0;
}

.player-row:nth-child(even) {
  background-color: #a3a3a3;
}

.header-item,
.player-item {
  flex: 1;
  text-align: center;
}

.action-button {
  width: 100px;
  margin: 0;
  font-size: small;
}

.no-results {
  margin-top: 20px;
  text-align: center;
  color: #999;
}
