/* Reused CSS from Players.css and Home.css*/
.results-page-container {
  .hero{
    background-color: transparent;
    width: 80%;
    display: grid;
    grid-template-columns: 0.65fr 1fr;
    gap: 0;
    .left-side{
        margin-left: 40px;
        h1{
            font-size: 50px;
        }
    }
    .right-side{
        margin: 0px auto;
        display: block;
        text-align: left;
        .player-welcome{
            margin-bottom: 40px;
        } 
    }
}
}

.tournament-results-section {
  display: flex;
  flex-direction: column;
  background-color: #dddddd;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  min-height: 300px;
  margin: 75px auto;
}
.tournament-row {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  list-style: none;
  margin: 0;
}

.tournament-item {
  flex: 1;
  text-align: center;
}

.tournament-row:nth-child(even) {
  background-color: #a3a3a3;
}
  