/* Reused CSS from Players.css and Home.css*/
.results-page-container {
  .hero {
    width: 100%;
    display: flex;
    background-color: transparent;
    gap: 0;
    margin: 0 auto;
  }
  
  .hero .left-side {
    display: block;
    width: 50%;
    text-align: center;
    margin: auto;
    h1{
        font-size: 50px;
    } 
  }
  
  .hero .right-side {
    display: block;
    width: 50%;
    text-align: center;
    margin: auto;
    justify-items: center;
  }
  
  .hero .title {
    font-size: 50px;
    font-weight: bold;
    margin: 0;
  }
  
  .hero .description {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
  }
}

.tournament-results-section {
  display: flex;
  flex-direction: column;
  background-color: #dddddd;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  min-height: 300px;
  margin: 75px auto;
}
.tournament-row {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  list-style: none;
  margin: 0;
}

.tournament-item {
  flex: 1;
  text-align: center;
}

.tournament-row:nth-child(even) {
  background-color: #a3a3a3;
}

.search-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px auto;
  padding: 10px;
  width: calc(100% - 20px);
  max-width: 1600px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  align-items: center; 
}

.search-input,
.search-dropdown,
.search-button {
  flex: 1 1 calc(20% - 10px); 
  min-width: 120px; 
}

.search-button {
  flex: 1 1 100%; 
  padding: 15px;
  border: none;
  background-color: green;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

.search-button:hover {
  background-color: darkgreen;
}

.search-button:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}