.add-tournament-container {
    padding: 20px;
    background-color: #dbdbdb;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 100px;
    border-radius: 10px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

select, input {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.message {
    margin-top: 20px;
    color: #d9534f;
    text-align: center;
}

input[type="password"] {
    font-family: 'Arial', sans-serif;
    letter-spacing: 1px;
}

select {
    background-color: #fefefe;
}
